.firstSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fef9f9;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstSection h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #3778c8;
}

.refContainer {
  margin-bottom: 15px;
}

.secondSection h3 {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 15px;
}

.secondSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
